<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmc.ecommerce.dao.CartMapper">
  <resultMap id="BaseResultMap" type="com.cmc.ecommerce.model.Cart">
    <!--@mbg.generated -->
    <!--@Table cart -->
    <!-- generated on Fri Aug 26 13:33:41 GMT+07:00 2022 -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="delete_yn" jdbcType="TINYINT" property="deleteYn" />
    <result column="created_dtm" jdbcType="TIMESTAMP" property="createdDtm" />
    <result column="created_id" jdbcType="BIGINT" property="createdId" />
    <result column="updated_dtm" jdbcType="TIMESTAMP" property="updatedDtm" />
    <result column="updated_id" jdbcType="BIGINT" property="updatedId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated -->
    delete from cart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cmc.ecommerce.model.Cart" useGeneratedKeys="true">
    <!--@mbg.generated -->
    insert into cart (user_id, url, `desc`, 
      delete_yn, created_dtm, created_id, 
      updated_dtm, updated_id)
    values (#{userId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{deleteYn,jdbcType=TINYINT}, #{createdDtm,jdbcType=TIMESTAMP}, #{createdId,jdbcType=BIGINT}, 
      #{updatedDtm,jdbcType=TIMESTAMP}, #{updatedId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmc.ecommerce.model.Cart">
    <!--@mbg.generated -->
    update cart
    set user_id = #{userId,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=VARCHAR},
      delete_yn = #{deleteYn,jdbcType=TINYINT},
      created_dtm = #{createdDtm,jdbcType=TIMESTAMP},
      created_id = #{createdId,jdbcType=BIGINT},
      updated_dtm = #{updatedDtm,jdbcType=TIMESTAMP},
      updated_id = #{updatedId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated -->
    select id, user_id, url, `desc`, delete_yn, created_dtm, created_id, updated_dtm, 
    updated_id
    from cart
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated -->
    select id, user_id, url, `desc`, delete_yn, created_dtm, created_id, updated_dtm, 
    updated_id
    from cart
  </select>
</mapper>