<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmc.ecommerce.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.cmc.ecommerce.model.Role">
    <!--@mbg.generated -->
    <!--@Table role -->
    <!-- generated on Fri Aug 26 13:35:39 GMT+07:00 2022 -->
    <id column="id" jdbcType="TINYINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="created_dtm" jdbcType="TIMESTAMP" property="createdDtm" />
    <result column="created_id" jdbcType="BIGINT" property="createdId" />
    <result column="updated_dtm" jdbcType="TIMESTAMP" property="updatedDtm" />
    <result column="updated_id" jdbcType="BIGINT" property="updatedId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte">
    <!--@mbg.generated -->
    delete from role
    where id = #{id,jdbcType=TINYINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cmc.ecommerce.model.Role" useGeneratedKeys="true">
    <!--@mbg.generated -->
    insert into role (`name`, created_dtm, created_id, 
      updated_dtm, updated_id)
    values (#{name,jdbcType=VARCHAR}, #{createdDtm,jdbcType=TIMESTAMP}, #{createdId,jdbcType=BIGINT}, 
      #{updatedDtm,jdbcType=TIMESTAMP}, #{updatedId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cmc.ecommerce.model.Role">
    <!--@mbg.generated -->
    update role
    set `name` = #{name,jdbcType=VARCHAR},
      created_dtm = #{createdDtm,jdbcType=TIMESTAMP},
      created_id = #{createdId,jdbcType=BIGINT},
      updated_dtm = #{updatedDtm,jdbcType=TIMESTAMP},
      updated_id = #{updatedId,jdbcType=BIGINT}
    where id = #{id,jdbcType=TINYINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    <!--@mbg.generated -->
    select id, `name`, created_dtm, created_id, updated_dtm, updated_id
    from role
    where id = #{id,jdbcType=TINYINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated -->
    select id, `name`, created_dtm, created_id, updated_dtm, updated_id
    from role
  </select>
</mapper>